@media (prefers-color-scheme: dark) {
  .section {
    background-color: var(--color-dartmouth-green-dark);
  }
  .link {
    color: var(--color-school-bus-yellow);
  }
  .link:hover {
    color: var(--color-school-bus-yellow-light);  
  }
}